<!DOCTYPE html>
<html>
<head>
  <title>Chirpbucket</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
<div id="footer">
  <div class="container">
    <p class="muted credit">Created by <a href="http://joyviewer.com/u/kushal00">Kushal Dongre</a>.</p>
  </div>
</div>
<script type="text/javascript">
$(document).on('page:fetch',   function() { NProgress.start(); });
$(document).on('page:change',  function() { NProgress.done(); });
$(document).on('page:restore', function() { NProgress.remove(); });
</script>
</body>
</html>
